<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="Win_1337_Patch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Win_1337_Patch.Properties.Settings>
            <setting name="fixoffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changeOwnership" serializeAs="String">
                <value>True</value>
            </setting>
        </Win_1337_Patch.Properties.Settings>
    </userSettings>
</configuration>
